{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

            <meta name="keywords" content="Genius,Ocean,Sea,Etc,Genius,Ocean,SeaGenius,Ocean,Sea,Etc,Genius,Ocean,SeaGenius,Ocean,Sea,Etc,Genius,Ocean,Sea">
        <meta name="author" content="GeniusOcean">
        <title>Genius Bank - All in Digital One Banking System</title>

    <link rel="stylesheet" href="../assets/front/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/front/css/animate.css" />
    <link rel="stylesheet" href="../assets/front/css/all.min.css" />
    <link rel="stylesheet" href="../assets/front/css/lightbox.min.css" />
    <link rel="stylesheet" href="../assets/front/css/odometer.css" />
    <link rel="stylesheet" href="../assets/front/css/owl.min.css" />
    <link rel="stylesheet" href="../assets/front/css/main.css" />
    <link rel="stylesheet" href="../assets/front/css/toastr.min.css">

    <link rel="stylesheet" href="../assets/front/css/styles93e6.css?color=0ba026">

            <link href="https://fonts.googleapis.com/css?family=Manrope&amp;display=swap" rel="stylesheet">
    
            <link rel="stylesheet" id="colorr" href="../assets/front/css/font9411.css?font_familly=Manrope">
    
        
    <link rel="shortcut icon" href="../assets/images/16393007481563335660service-icon-1.png">
</head>

<body>
    <!-- Overlayer -->
    <span class="toTopBtn">
        <i class="fas fa-angle-up"></i>
    </span>
    <div class="overlayer"></div>
    <div class="loader">
        <h2>
            <span class="let1">l</span>
            <span class="let2">o</span>
            <span class="let3">a</span>
            <span class="let4">d</span>
            <span class="let5">i</span>
            <span class="let6">n</span>
            <span class="let7">g</span>
        </h2>
    </div>



     <!-- Hero -->
    <section class="hero-section bg--overlay bg_img" data-img="https://product.geniusocean.com/genius-bank/assets/images/4oHWW9wP1647317756.png">
        <div class="container">
            <div class="hero-content">
                <h2 class="hero-title"></h2>
                <ul class="breadcrumb">
                    <li>
                        <a href=#>Home</a>
                    </li>
                    <li>
                        Registration                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Hero -->

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <section class="account-section pt-100 pb-100">
        <div class="container">
            <div class="account-wrapper bg--body">
                <div class="section-title mb-3">
                    <h6 class="subtitle text--base">Sign Up</h6>
                    <h3 class="title">Create Account Now</h3>
                </div>
                <form id="registrationForm" class="account-form row gy-3 gx-4 align-items-center" 
                 method="POST" novalidate>
                <div class="alert alert-success alert-dismissible fade show" style="display: none;">
  <p class="m-0 text-success"></p>
            </div>

{{ form_start(registrationForm) }}

    <div class="row">
        <div class="col-sm-6">
            {{ form_row(registrationForm.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
        
            {{ form_row(registrationForm.phone, {'attr': {'class': 'form-control'}}) }}
        </div>
          <div class="col-sm-6">
    <label for="{{ registrationForm.AgencyName.vars.id }}">Agency Name</label>
    {{ form_widget(registrationForm.AgencyName, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(registrationForm.AgencyName, {'attr': {'class': 'form-control'}}) }}
</div>

    </div>

    <div class="row">
    <div class="col-sm-6">
        {{ form_row(registrationForm.password.first, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(registrationForm.password.second, {'attr': {'class': 'form-control'}}) }}
    </div>
</div>
    
        <div class="mt-2">
                        <div class="form-check mt-3 mb-0">
                            <input type="checkbox" id="accept" class="form-check-input" checked>
                            <label class="form-check-label" for="accept">Accept <a href="#0"
                                    class="text--base">privacy & policy</a></label>
                        </div>
        </div>

        <button type="submit" class="cmn--btn bg--base me-3 w-100">Register Now</button>

{{ form_end(registrationForm) }}

    </div>
    </section>
    
    <script src="../assets/front/js/jquery-3.6.0.min.js"></script>
    <script src="../assets/front/js/bootstrap.min.js"></script>
    <script src="../assets/front/js/viewport.jquery.js"></script>
    <script src="../assets/front/js/odometer.min.js"></script>
    <script src="../assets/front/js/lightbox.min.js"></script>
    <script src="../assets/front/js/owl.min.js"></script>
    <script src="../assets/front/js/toastr.min.js"></script>
    <script src="../assets/front/js/notify.js"></script>
    <script src="../assets/front/js/main.js"></script>
    <script src="../assets/front/js/custom.js"></script>

    <script>
        'use strict';
		let mainurl = 'https://product.geniusocean.com/genius-bank';
	</script>

    <script>
        'use strict';
    
              
              
              
            </script>

    <script>
        'use strict';

        $('.apply-loan').on('click',function(){
            let id = $(this).data('id');
            let title = $(this).data('title');

            $('#planId').val(id);
            $('.loan-title').text(title);
        });

        $('.apply-pension').on('click',function(){
            let id = $(this).data('id');
            let title = $(this).data('title');

            $('#fdrplan').val(id);
            $('.loan-title').text(title);
        });
    </script>
        
</body>
{% endblock %}
                     