{% extends 'baseAdmin.html.twig' %}

{% block title %}Investissement index
{% endblock %}

{% block body %}
	<h1>Liste des Investissements</h1>

	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Min_budget</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for investissement in investissements %}
				<tr>
					<td>{{ investissement.id }}</td>
					<td>{{ investissement.minBudget }}</td>
					<td>
						<a href="{{ path('app_investissement_show', {'id': investissement.id}) }}" class="btn btn-warning">show</a>
						<a href="{{ path('app_investissement_edit', {'id': investissement.id}) }}" class="btn btn-warning">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_investissement_new') }}" class="btn btn-success">Create new</a>
	<a href="{{ path('app_investissement_sort') }}" class="btn btn-success">Trier selon Budget</a>
{% endblock %}
