
{% extends 'baseClient.html.twig' %}

{% block body %}
               

<div class="row justify-content-center mt-3">
<div class="col-md-10">
  <div class="card mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
      <h6 class="m-0 font-weight-bold text-primary">loan apply details</h6>
    </div>

    <div class="card-body">
          <div class="container">
            <div class="row row-cards">
              <div class="col-12">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="table-responsive-sm">
                      <table class="table mb-0">
                        <tbody>
                          <tr>
                            <th class="45%" width="45%">Category</th>
                            <td width="10%">:</td>
                            <td class="45%" width="45%">
                              {{ DemandeCredit.creditId }}
                            </td>
                          </tr>

                          <tr>
                            <th class="45%" width="45%">Amount</th>
                            <td width="10%">:</td>
                            <td class="45%" width="45%">{{ DemandeCredit.amount }}</td>
                          </tr>
                        
 <tr>
                            <th class="45%" width="45%">monthly Payment</th>
                            <td width="10%">:</td>
                            <td class="45%" width="45%">{{ monthlyPayment }}</td>
                          </tr>
                                                 

                          <tr>
                            <th class="45%" width="45%">Note</th>
                            <td width="10%">:</td>
                            <td class="45%" width="45%">{{ DemandeCredit.note }}</td>
                          </tr>
                          <tr>
                            <th class="45%" width="45%">Date</th>
                            <td width="10%">:</td>
                            <td class="45%" width="45%">{{DemandeCredit.createdAt|date}}</td>
                          </tr>

                          <tr>
                            <th class="45%" width="45%">Id card first side</th>
                            <td width="10%">:</td>
                             <td><img src="{{ asset('uploads/credit/'~ DemandeCredit.cin1 ) }}" width="250" height="250"/></td>
                          </tr>
                           <tr>
                            <th class="45%" width="45%">Id card second side</th>
                            <td width="10%">:</td>
                             <td><img src="{{ asset('uploads/credit/'~ DemandeCredit.cin2 ) }}" width="250" height="250"/></td>
                          </tr>
                

                    <tr>
                            <th width="45%">Status</th>
                            <td width="10%">:</td>
                            <td width="45%">
                              <span class="badge bg-warning">{{DemandeCredit.status}}</span>
                            </td>
                          </tr>        

                          </tr>
             
                          
                        </tbody>
                      </table>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           
      </div>
   
        
{% endblock %}
