{% extends 'baseAdmin.html.twig' %}
{% block header %}
	<div class="Loader" style="
				        background: url(https://product.geniusocean.com/genius-bank/assets/images/33CiUFaI1641808748.gif)
				          no-repeat scroll center center #fff;
				      "></div>
	<div
		id="wrapper">
		<!-- Sidebar -->
		<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{path('app_dashboard')}}">
				<div class="sidebar-brand-icon">
					<img src="{{asset('assets/images/MAZE2.png')}}">
				</div>
			</a>

			<li class="nav-item">
				<a class="nav-link" href="{{path('app_dashboard')}}">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>Dashboard</span>
				</a>
			</li>


			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#customer" aria-expanded="true" aria-controls="collapseTable">
					<i class="fas fa-user"></i>
					<span>Manage Customers</span>
				</a>
				<div id="customer" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" href="#">User
														                        List</a>

						<a class="collapse-item" href="#">Withdraw Request
							<span class="badge badge-sm badge-danger badge-counter">210</span>
						</a>

					</div>
				</div>
			</li>

			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#loan" aria-expanded="true" aria-controls="collapseTable">
					<i class="fas fa-cash-register"></i>
					<span>Loan Management</span>
				</a>
				<div id="loan" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" href="#">Loan Plans</a>
						<a class="collapse-item" href="#">All
														                        Loans</a>

					</div>
				</div>
			</li>

			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#dps" aria-expanded="true" aria-controls="collapseTable">
					<i class="fas fa-warehouse"></i>
					<span>Offer Management</span>
				</a>
				<div id="dps" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" href="investment.html">Investment</a>
						<a class="collapse-item" href="#">Career</a>
					</div>
				</div>
			</li>


			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#wiretransfer" aria-expanded="true" aria-controls="collapseTable">
					<i class="fas fa-wallet"></i>
					<span>Wire Transfer</span>
				</a>
				<div id="wiretransfer" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" href="#">Wire Transfer
														                        Bank</a>

					</div>
				</div>
			</li>

			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#requestmoney" aria-expanded="true" aria-controls="collapseTable">
					<i class="fas fa-donate"></i>
					<span>Request Money</span>
				</a>
				<div id="requestmoney" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" href="#">All Money Request</a>

					</div>
				</div>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fas fa-chart-line"></i>
					<span>Transactions</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="deposits.html">
					<i class="fas fa-piggy-bank"></i>
					<span>Deposits</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#blog" aria-expanded="true" aria-controls="collapseTable">
					<i class="fas fa-fw fa-newspaper"></i>
					<span>Manage Blog</span>
				</a>
				<div id="blog" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">

						<a class="collapse-item" href="{{path('app_blog')}}">Posts</a>
						<a class="collapse-item" href="{{path('app_category')}}">Categories</a>
					</div>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_reclamation')}}">
					<i class="fas fa-vote-yea"></i>
					<span>Support Tickets</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_agence')}}">
					<i class="fas fa-child"></i>
					<span>Agence</span>
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">
					<i class="fas fa-fw fa-users-cog"></i>
					<span>Subscribers</span>
				</a>
			</li>


		</ul>
	{% endblock %}
	{% block body %}

		<div id="content-wrapper" class="d-flex flex-column">
			<div
				id="content">


				<!-- Container Fluid-->
				<div class="container-fluid" id="container-wrapper">
					<div class="">
						<div class="d-sm-flex align-items-center justify-content-between">
							<h5 class="mb-0 text-gray-800 pl-3">
								<a class="btn btn-primary btn-rounded btn-sm" href="{{path('app_blog')}}">
									<i class="fas fa-arrow-left"></i>Back</a>
							</h5>

						</div>
					</div>

					<div class="row justify-content-center mt-3">
						<div class="col-md-10">
							<div class="card mb-4">
								<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									<h6 class="m-0 font-weight-bold text-primary">
										Add New Agency Form
									</h6>
								</div>

								<div class="card-body">
									{{form_start(form,{'attr': {'novalidate': 'novalidate'}})}}
									<div class="form-group">
										{{form_label(form.name,'Name : ',{'attr':{'class':'form-label'}})}}
										{{form_widget(form.name,{'attr':{'class':'form-control'}})}}
										{{ form_errors(form.name) }}
									</div>
									{{ form_row(form.photo,{'attr':{'class':'form-control'}}) }}
									<br>
									<div class="form-group">
										{{form_label(form.description,'Description : ',{'attr':{'class':'form-label'}})}}
										<br>
										{{form_widget(form.description,{'attr':{'class':'form-control'}})}}
										{{ form_errors(form.description) }}
										<br>
									</div>
									{{form_widget(form.save,{'attr':{'class':'btn btn-primary w-100'}})}}
									{{form_end(form)}}

								</div>
							</div>
						</div>
					</div>
				</div>
				<!---Container Fluid-->
			</div>
		</div>
	</div>

	<!-- Scroll to top -->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
{% endblock %}
