{% extends 'baseClient.html.twig' %}

{% block body %}
	<div class="page-wrapper">
		<div class="container-xl">
			<div class="page-header d-print-none">
				<div class="row align-items-center">
					<div class="col">
						<h2 class="page-title">Send Money</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="page-body">
			<div class="container-xl">
				<div class="row row-cards">
					<div class="col-12">
						<div
							class="card-p5">
							{# ********************* #}
							{{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
							<div class="form-group mb-3 mt-3">
								<label class="form-label ">Account Number</label>
								{{form_widget(form.requestTo,{'attr':{'class':'form-control','placeholder':'0.0000.0000.0000.0000'}})}}
							</div>
							<div class="form-group mb-3 mt-3">
								<label class="form-label ">Your Account Number</label>
								{{form_widget(form.requestFrom,{'attr':{'class':'form-control','placeholder':'0.0000.0000.0000.0000'}})}}
							</div>
							<div class="form-group mb-3 mt-3">
								<label class="form-label ">Account
								</label>
								{{form_widget(form.compte,{'attr':{'class':'form-control','placeholder':'0.0000.0000.0000.0000'}})}}
							</div>

							<div class="form-group mt-3">
								<label class="form-label ">Amount</label>
								{{form_widget(form.montant,{'attr':{'class':'form-control','placeholder':'0.0'}})}}
							</div>

							<div class="form-footer">
								{{form_widget(form.save,{'attr':{'class':'btn btn-primary w-100'}})}}

							</div>
							{{form_end(form)}}
						</div>

						{# ********************* #}
					</div>
				</div>
			</div>
		</div>

	</div>
</div>{% endblock %}
