{% extends 'baseAdmin.html.twig' %}

{% block body %}
         <!-- Container Fluid-->
          <div class="container-fluid" id="container-wrapper">
            <div class="card">
              <div
                class="d-sm-flex align-items-center justify-content-between py-3"
              >
                <h5 class="mb-0 text-gray-800 pl-3">Wire Transfer Agence </h5>
                <ol class="breadcrumb m-0 py-0">
                  <li class="breadcrumb-item">
                  <a class="btn btn-primary" href="{{path('transactions-pdf')}}">Export PDF</a>
                  </li>
                  <li class="breadcrumb-item">
                   <a  data-toggle="modal" data-target="#myModal" class="btn btn-primary" >Filter</a>
                  </li>
                </ol>
              </div>
            </div>
           <div class="row mt-3">
              <div class="col-lg-12">
                   
                  <div class="table-responsive p-3">
                     <table   id="geniustable"  class="table table-hover dt-responsive"   width="100%">
                       <thead>
                         <tr>
                          <th>Date</th>
                          <th>Agance Name</th>
                           <th>Account Number</th>
                           <th>Amount</th>
                          <th>Request From</th>
                          <th>Request To</th>
                          <th>Status</th>
                         <th>Actions</th>
                        </tr>
                       </thead>
                     <tbody>
          {% for transaction in transactions %}
             {% if  transaction.typeTransaction == "Wire Transfer" %}
              <tr>
                <td>{{ transaction.date ? transaction.date|date('Y-m-d') : '' }}</td>
                <td>{{ transaction.agenceName }}</td>
                <td>{{ transaction.compte }}</td>
                <td>{{ transaction.montant }}</td>
                <td>{{ transaction.requestFrom }}</td>
                <td>{{ transaction.requestTo }}</td>
                {% if  transaction.statue == "valide" %}
                    <td><span class="badge bg-success">{{ transaction.statue }}</span></td>
                {% elseif transaction.statue == "rejected" %}
                <td><span class="badge bg-danger">{{ transaction.statue }}</span></td>
                {% else %}
                    <td><span class="badge bg-warning">{{ transaction.statue }}</span></td>                          
                {% endif %}
                <td class="row">
                 <form method="post" action="{{ path('app_transactions_accept', {'id': transaction.id}) }}" onsubmit="return confirm('Are you sure you want to Accept this transaction ?');">
                     <input type="hidden" name="_token" value="{{ csrf_token('accept' ~ transaction.id) }}">
                    <button class="btn text-success"><i class="fa-solid fa-check"></i></button>
                 </form>
                 <form method="post" action="{{ path('app_transactions_reject', {'id': transaction.id}) }}" onsubmit="return confirm('Are you sure you want to Reject this transaction ?');">
                     <input type="hidden" name="_token" value="{{ csrf_token('reject' ~ transaction.id) }}">
                     <button class="btn text-danger"><i class="fa-regular fa-square-minus"></i></button>
                 </form>
                </td>
              </tr>
             {% endif %}
          {% else %}
              <tr>
                <td colspan="9">no records found</td>
             </tr>
            {% endfor %}
        </tbody>
    </table>
    
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Filtre the Wire Transfer Selon</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form>
        <div class="row form-group">
         <label class=" col-3 form-label " >Satue</label>  
         <input class="col-8 form-control" placeholder="status" />   
        </div>
        <div class="row form-group">
         <label class="col-3 form-label " >Amount</label>  
         <input class="col-8 form-control " placeholder="Amount >>>...." />   
     </div>   {#  #}
       <a class="btn btn-primary"type="submit"  href="{{path('app_transactions_filtre')}}">Filter</a> 
      </form> 
     </div>
    </div>
  </div>
</div>
                  </div>
                </div>
              </div>
          
          </div>
          <!---Container Fluid-->
        
{% endblock %}
